body {
  font-family: "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-left {
  width: 215;
  flex-wrap: wrap;
}

.menu-detail {
  padding-left: 22px;
}
